html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: aquamarine;*/
    font-family: 'PT Sans', sans-serif;
    background-color: #C7D6D5;
}

#root {
    /*max-width: 1280px;*/
    height: 100%;
    width: 100%;
  /*  margin: 0 auto;*/
    /*padding: 2rem;*/
    /*text-align: center;*/
   /* background-color: bisque;*/
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

/*footer {
    box-shadow: 0 2px 5px rgba(0,0,0, 0.53);
    display: flex;
    background-color: #6D7275;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
}*/