html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: aquamarine;*/
    font-family: 'PT Sans', sans-serif;
}

#root {
    /*max-width: 1280px;*/
    height: 100%;
  /*  margin: 0 auto;*/
    /*padding: 2rem;*/
    /*text-align: center;*/
   /* background-color: bisque;*/
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}